# Calculate format=kde link=/usr/share/applications/firefox.desktop name=calculate-browser.desktop mirror pkg(www-client/firefox)>=10.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
