<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The DeviceKit-power Project</vendor>
  <vendor_url>http://hal.freedesktop.org/docs/DeviceKit-power/</vendor_url>
  <icon_name>system-suspend</icon_name>

  <action id="org.freedesktop.upower.suspend">
    <description>Suspend the system</description>
    <message>Authentication is required to suspend the system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.upower.hibernate">
    <description>Hibernate the system</description>
    <message>Authentication is required to hibernate the system</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
#?os_install_root_type==livecd#
      <allow_active>no</allow_active>
#os_install_root_type#
#?os_install_root_type!=livecd#
      <allow_active>yes</allow_active>
#os_install_root_type#
    </defaults>
  </action>

</policyconfig>
