# Calculate format=patch path=/lib/udev/rules.d
<reg>(ACTION=="add", SUBSYSTEM=="block", SUBSYSTEMS=="usb\|ieee1394", ENV\{ID_CDROM\}=="\?\*", ENV\{GENERATED\}!="\?\*", \\
  PROGRAM="write_cd_rules by-id", SYMLINK\+="%c", GOTO="persistent_cd_end")

(ACTION=="add", SUBSYSTEM=="block", ENV\{ID_CDROM\}=="\?\*")</reg>
<text>\1
ACTION=="add", SUBSYSTEM=="block", ENV{ID_ATA}=="1", ENV{ID_CDROM}=="?*", ENV{GENERATED}!="?*", \
  PROGRAM="write_cd_rules by-id", SYMLINK+="%c", GOTO="persistent_cd_end"
\2</text>
<reg>ID_ATA=="1"</reg>
<text>ENV{ID_ATA}=="1"</text>
