# Calculate format=kde link=/usr/share/applications/chromium-browser-chromium.desktop name=calculate-browser.desktop mirror pkg(www-client/chromium)>=11.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
