@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");

.panel {
#?pkg(xfce-base/xfce4-panel)>=4.14#
  background-color: #343938;
#!pkg#
  background-color: transparent;
#pkg#
  color: white;
  font-weight: normal;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.panel-shadow {
  background-image: none;
  background-color: transparent;
}

.panel .menu {
  box-shadow: none;
}

.panel .menu .menuitem {
  font-weight: normal;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

.panel .menu .window-frame.menu.csd,
.panel .menu .window-frame.popup.csd {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.panel .menubar > .menuitem {
  padding: 3px 6px;
}

.panel .menubar > .menuitem:hover {
  background-color: transparent;
}

.panel .window-frame.menu.csd,
.panel .window-frame.popup.csd {
  box-shadow: none;
}

.composited-indicator {
  background-color: transparent;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.composited-indicator > GtkWidget > GtkWidget:first-child {
  padding: 0 2px;
}

.composited-indicator .menuitem:active, .composited-indicator .menuitem:hover {
  border-style: none;
  background-image: none;
  box-shadow: none;
}

.composited-indicator > .popup > .menu {
  padding-top: 8px;
  padding-bottom: 8px;
}

.panel-app-button > GtkWidget > GtkWidget:first-child {
  padding: 0 2px 0 4px;
}

.panel .menu .spinner,
.menu .spinner {
  opacity: 1;
}


.xfce4-panel.panel button.flat, .xfce4-panel.panel button.sidebar-button, .xfce4-panel.panel button.budgie-menu-launcher, .xfce4-panel.panel .budgie-panel #tasklist-button, .budgie-panel .xfce4-panel.panel #tasklist-button, .mate-panel-menu-bar button:not(#tasklist-button),
panel-toplevel.background button:not(#tasklist-button) {
  color: #D3DAE3;
  border-radius: 0;
  border: none;
  background-color: rgba(40, 42, 51, 0);
}

.xfce4-panel.panel button.flat:hover, .xfce4-panel.panel button.sidebar-button:hover, .xfce4-panel.panel button.budgie-menu-launcher:hover, .xfce4-panel.panel .budgie-panel #tasklist-button:hover, .budgie-panel .xfce4-panel.panel #tasklist-button:hover, .mate-panel-menu-bar button:hover:not(#tasklist-button),
panel-toplevel.background button:hover:not(#tasklist-button) {
  border: none;
}

.xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.sidebar-button:active, .xfce4-panel.panel button.budgie-menu-launcher:active, .xfce4-panel.panel .budgie-panel #tasklist-button:active, .budgie-panel .xfce4-panel.panel #tasklist-button:active, .mate-panel-menu-bar button:active:not(#tasklist-button),
panel-toplevel.background button:active:not(#tasklist-button), .xfce4-panel.panel button.flat:checked, .xfce4-panel.panel button.sidebar-button:checked, .xfce4-panel.panel button.budgie-menu-launcher:checked, .xfce4-panel.panel .budgie-panel #tasklist-button:checked, .budgie-panel .xfce4-panel.panel #tasklist-button:checked, .mate-panel-menu-bar button:checked:not(#tasklist-button),
panel-toplevel.background button:checked:not(#tasklist-button) {
  color: #ffffff;
  border: none;
  background-color: #5294e2;
}

.xfce4-panel.panel button.flat:active label, .xfce4-panel.panel button.sidebar-button:active label, .xfce4-panel.panel button.budgie-menu-launcher:active label, .xfce4-panel.panel .budgie-panel #tasklist-button:active label, .budgie-panel .xfce4-panel.panel #tasklist-button:active label, .mate-panel-menu-bar button:active:not(#tasklist-button) label, panel-toplevel.background button:active:not(#tasklist-button) label, .xfce4-panel.panel button.flat:active image, .xfce4-panel.panel button.sidebar-button:active image, .xfce4-panel.panel button.budgie-menu-launcher:active image, .xfce4-panel.panel .budgie-panel #tasklist-button:active image, .budgie-panel .xfce4-panel.panel #tasklist-button:active image, .mate-panel-menu-bar button:active:not(#tasklist-button) image, panel-toplevel.background button:active:not(#tasklist-button) image, .xfce4-panel.panel button.flat:checked label, .xfce4-panel.panel button.sidebar-button:checked label, .xfce4-panel.panel button.budgie-menu-launcher:checked label, .xfce4-panel.panel .budgie-panel #tasklist-button:checked label, .budgie-panel .xfce4-panel.panel #tasklist-button:checked label, .mate-panel-menu-bar button:checked:not(#tasklist-button) label, panel-toplevel.background button:checked:not(#tasklist-button) label, .xfce4-panel.panel button.flat:checked image, .xfce4-panel.panel button.sidebar-button:checked image, .xfce4-panel.panel button.budgie-menu-launcher:checked image, .xfce4-panel.panel .budgie-panel #tasklist-button:checked image, .budgie-panel .xfce4-panel.panel #tasklist-button:checked image, .mate-panel-menu-bar button:checked:not(#tasklist-button) image, panel-toplevel.background button:checked:not(#tasklist-button) image {
  color: inherit;
}


.mate-panel-menu-bar, .mate-panel-menu-bar menubar,
panel-toplevel.background,
panel-toplevel.background menubar {
  background-color: #343938;
}

.mate-panel-menu-bar menubar,
.mate-panel-menu-bar #PanelApplet label,
.mate-panel-menu-bar #PanelApplet image,
panel-toplevel.background menubar,
panel-toplevel.background #PanelApplet label,
panel-toplevel.background #PanelApplet image {
  color: #D3DAE3;
  /* color of all tasks */
  /*background-color: #282a33; */
}

.mate-panel-menu-bar #PanelApplet image {
  background-color: #343938; 
  -gtk-icon-shadow: none; 
}

.mate-panel-menu-bar button label, .mate-panel-menu-bar button image,
.mate-panel-menu-bar #tasklist-button label,
.mate-panel-menu-bar #tasklist-button image,
panel-toplevel.background button label,
panel-toplevel.background button image,
panel-toplevel.background #tasklist-button label,
panel-toplevel.background #tasklist-button image {
  color: inherit;
  background-color: inherit;
}

.mate-panel-menu-bar button image,
.mate-panel-menu-bar #tasklist-button label {
  color: white;
}

.mate-panel-menu-bar .wnck-pager,
panel-toplevel.background .wnck-pager {
  color: #6a6d72;
  background-color: #252726;
}

.mate-panel-menu-bar .wnck-pager:hover,
panel-toplevel.background .wnck-pager:hover {
  background-color: #333641;
}

.mate-panel-menu-bar .wnck-pager:selected,
panel-toplevel.background .wnck-pager:selected {
  color: #a9caf1;
  /* color of workspace pager */
  background-color: #5294e2;
}

.mate-panel-menu-bar na-tray-applet,
panel-toplevel.background na-tray-applet {
  -NaTrayApplet-icon-padding: 0;
  -NaTrayApplet-icon-size: 32px;
}

.osd button.flat:active, .osd button.sidebar-button:active, .osd button.budgie-menu-launcher:active, .osd .budgie-panel #tasklist-button:active, .budgie-panel .osd #tasklist-button:active, .osd button.flat:checked, .osd button.sidebar-button:checked, .osd button.budgie-menu-launcher:checked, .osd .budgie-panel #tasklist-button:checked, .budgie-panel .osd #tasklist-button:checked {
  color: #ffffff;
  border-color: rgba(13, 14, 17, 0.4);
  background-color: #5294e2;
}

headerbar.selection-mode button, .nemo-window .selection-mode.primary-toolbar button, headerbar.selection-mode button.flat, .nemo-window .selection-mode.primary-toolbar button.flat, headerbar.selection-mode button.sidebar-button, .nemo-window .selection-mode.primary-toolbar button.sidebar-button, headerbar.selection-mode button.budgie-menu-launcher, .nemo-window .selection-mode.primary-toolbar button.budgie-menu-launcher, headerbar.selection-mode .budgie-panel #tasklist-button, .budgie-panel headerbar.selection-mode #tasklist-button, .nemo-window .selection-mode.primary-toolbar .budgie-panel #tasklist-button, .budgie-panel .nemo-window .selection-mode.primary-toolbar #tasklist-button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.app-notification {
  padding: 10px;
  color: #D3DAE3;
  background-color: alpha(#282A33,0.9);
  background-clip: border-box;
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(13, 14, 17, 0.4);
}

.app-notification border {
  border: none;
}

.app-notification button {
  color: #D3DAE3;
  border-color: rgba(13, 14, 17, 0.4);
  background-color: rgba(89, 94, 114, 0.4);
}

.app-notification button.flat, .app-notification button.sidebar-button, .app-notification button.budgie-menu-launcher, .app-notification .budgie-panel #tasklist-button, .budgie-panel .app-notification #tasklist-button {
  border-color: rgba(82, 148, 226, 0);
}

.app-notification button:hover {
  color: #D3DAE3;
  border-color: rgba(13, 14, 17, 0.4);
  background-color: rgba(105, 110, 134, 0.5);
}

.app-notification button:active, .app-notification button:checked {
  color: #ffffff;
  border-color: rgba(13, 14, 17, 0.4);
  background-color: #5294e2;
  background-clip: padding-box;
}

.app-notification button:disabled {
  color: #5b5f68;
  border-color: rgba(13, 14, 17, 0.4);
  background-color: rgba(89, 94, 114, 0.25);
}

row:selected button.flat, row:selected button.sidebar-button, row:selected button.budgie-menu-launcher, row:selected .budgie-panel #tasklist-button, .budgie-panel row:selected #tasklist-button, infobar.info button.flat, infobar.info button.sidebar-button, infobar.info button.budgie-menu-launcher, infobar.info .budgie-panel #tasklist-button, .budgie-panel infobar.info #tasklist-button, infobar.question button.flat, infobar.question button.sidebar-button, infobar.question button.budgie-menu-launcher, infobar.question .budgie-panel #tasklist-button, .budgie-panel infobar.question #tasklist-button, infobar.warning button.flat, infobar.warning button.sidebar-button, infobar.warning button.budgie-menu-launcher, infobar.warning .budgie-panel #tasklist-button, .budgie-panel infobar.warning #tasklist-button, infobar.error button.flat, infobar.error button.sidebar-button, infobar.error button.budgie-menu-launcher, infobar.error .budgie-panel #tasklist-button, .budgie-panel infobar.error #tasklist-button, .nautilus-window .floating-bar button.flat, .nautilus-window .floating-bar button.sidebar-button, .nautilus-window .floating-bar button.budgie-menu-launcher, .nautilus-window .floating-bar .budgie-panel #tasklist-button, .budgie-panel .nautilus-window .floating-bar #tasklist-button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.sidebar-button:active, .xfce4-panel.panel button.budgie-menu-launcher:active, .xfce4-panel.panel .budgie-panel #tasklist-button:active, .budgie-panel .xfce4-panel.panel #tasklist-button:active, .mate-panel-menu-bar button:active:not(#tasklist-button),
panel-toplevel.background button:active:not(#tasklist-button), .xfce4-panel.panel button.flat:checked, .xfce4-panel.panel button.sidebar-button:checked, .xfce4-panel.panel button.budgie-menu-launcher:checked, .xfce4-panel.panel .budgie-panel #tasklist-button:checked, .budgie-panel .xfce4-panel.panel #tasklist-button:checked, .mate-panel-menu-bar button:checked:not(#tasklist-button),
panel-toplevel.background button:checked:not(#tasklist-button) {
  color: #ffffff;
  border: none;
  background-color: #5294e2;
}

.mate-panel-menu-bar button:active,
.mate-panel-menu-bar button:checked { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; background-image: image(#25292b); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; transition-duration: 50ms; }

#?pkg(mate-base/mate-panel)!=#
.mate-panel-menu-bar button:hover { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; border-bottom-color: #0b0c0c; text-shadow: 0 -1px rgba(0, 0, 0, 0.779451); -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.779451); box-shadow: inset 0 1px rgba(255, 255, 255, 0.05); background-image: linear-gradient(to bottom, #353c3e, #2e3436 60%, #2a2e30); }
#pkg#

#?pkg(xfce-base/xfce4-panel)>=4.14#
.panel button.flat:active { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; background-image: image(#25292b); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; transition-duration: 50ms; }
.panel button.flat:hover { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; border-bottom-color: #0b0c0c; text-shadow: 0 -1px rgba(0, 0, 0, 0.779451); -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.779451); box-shadow: inset 0 1px rgba(255, 255, 255, 0.05); background-image: image(#252726); border-radius: 3; border: 1px solid #1b1f20; }
.panel button.flat:checked { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; background-image: image(#25292b); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; transition-duration: 50ms; border-radius: 3; border: 1px solid #1b1f20; }
#systray-6 > frame > border { border: 1px solid #1b1f20; margin-top: 0px; margin-bottom: 1px; }
#systray-6 .horizontal { padding-right: 4px; margin-top: -1px; }
#!pkg#
.panel button:active,
.panel button:checked { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; background-image: image(#25292b); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; transition-duration: 50ms; }
.panel button:hover { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; border-bottom-color: #0b0c0c; text-shadow: 0 -1px rgba(0, 0, 0, 0.779451); -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.779451); box-shadow: inset 0 1px rgba(255, 255, 255, 0.05); background-image: image(#252726); }
.panel button,
.panel button:checked { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; background-image: image(#343938); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; transition-duration: 50ms; }
#pkg#
