# Calculate exists(/usr/share/applications/calculate-imageedit.desktop)!= link=/usr/share/applications/calculate-imageedit.desktop name=10000000037.desktop symbolic force
