# Calculate format=kde link=/usr/share/applications/smplayer.desktop name=calculate-videoplayer.desktop mirror pkg(media-video/smplayer)>=0.6

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
