# Calculate pkg(gnome-base/gnome-session)!=&&pkg(xfce-base/xfce4-session)== path=/usr/share/xsessions link=/usr/share/xsessions/gnome.desktop symbolic
