# Calculate exists(/usr/share/applications/calculate-videoplayer.desktop)!= link=/usr/share/applications/calculate-videoplayer.desktop name=10000000040.desktop symbolic force
