[Desktop Entry]
Name=Calculate Display Manager
Name[ru]=Calculate Display Manager

X-KDE-PluginInfo-Name=Calculate_Linux
X-KDE-PluginInfo-Author=Mir Calculate
X-KDE-PluginInfo-Email=support@calculate.ru
X-KDE-PluginInfo-License=LGPLv3
