# Calculate chmod=755 os_root_type==livecd
#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name[bg]=Ръководство за инсталиране
Name[ru]=Руководство по установке
Name=Installation Guide
Comment=
Categories=Application;
#?os_locale_language!=ru#
#?pkg(www-client/chromium)!=#
Exec=chromium --app="file:///usr/share/calculate/doc/handbook-en.html"
#!pkg#
Exec=xdg-open /usr/share/calculate/doc/handbook-en.html
#pkg#
#!os_locale_language#
#?pkg(www-client/chromium)!=#
Exec=chromium --app="file:///usr/share/calculate/doc/handbook-ru.html"
#!pkg#
Exec=xdg-open /usr/share/calculate/doc/handbook-ru.html
#pkg#
#os_locale_language#
Icon=help-faq
Terminal=false
StartupNotify=false
