# Calculate exists(~/.config/xfce4/panel/launcher-39/10000000039.desktop)!=&&exists(/usr/share/applications/calculate-audioplayer.desktop)!= link=/usr/share/applications/calculate-audioplayer.desktop path=~/.config/xfce4/panel/launcher-39 name=10000000039.desktop symbolic force
