# Calculate exists(~/.config/xfce4/panel/launcher-30/10000000030.desktop)!=&&exists(/usr/share/applications/calculate-browser.desktop)!= link=/usr/share/applications/calculate-browser.desktop path=~/.config/xfce4/panel/launcher-30 name=10000000030.desktop symbolic force
