# Calculate exists(~/.config/xfce4/panel/launcher-36/10000000036.desktop)!=&&exists(/usr/share/applications/calculate-calculator.desktop)!= link=/usr/share/applications/calculate-calculator.desktop path=~/.config/xfce4/panel/launcher-36 name=10000000036.desktop symbolic force
