# Calculate exists(~/.config/xfce4/panel/launcher-32/10000000032.desktop)!=&&exists(/usr/share/applications/calculate-chat.desktop)!= link=/usr/share/applications/calculate-chat.desktop path=~/.config/xfce4/panel/launcher-32 name=10000000032.desktop symbolic force
