# Calculate exists(~/.config/xfce4/panel/launcher-38/10000000038.desktop)!=&&exists(/usr/share/applications/calculate-imageview.desktop)!= link=/usr/share/applications/calculate-imageview.desktop path=~/.config/xfce4/panel/launcher-38 name=10000000038.desktop symbolic force
