# Calculate exists(~/.config/xfce4/panel/launcher-41/10000000041.desktop)!=&&exists(/usr/share/applications/calculate-imageburn.desktop)!= link=/usr/share/applications/calculate-imageburn.desktop path=~/.config/xfce4/panel/launcher-41 name=10000000041.desktop symbolic force
