# Calculate exists(~/.config/xfce4/panel/launcher-31/10000000031.desktop)!=&&exists(/usr/share/applications/calculate-mail.desktop)!= link=/usr/share/applications/calculate-mail.desktop path=~/.config/xfce4/panel/launcher-31 name=10000000031.desktop symbolic force
