# Calculate format=patch exists(~/.cinnamon/panel-launchers/lockscreen.desktop)!=
<reg>Icon=(gnome-lockscreen|system-lock-screen-symbolic)</reg>
<text>Icon=system-lock-screen</text>
