# Calculate format=patch exists(~/.cinnamon/panel-launchers/poweroff.desktop)!=
<reg>Icon=(gnome-shutdown|system-shutdown-symbolic)</reg>
<text>Icon=system-shutdown</text>
