# Calculate format=kde link=/usr/share/applications/org.kde.konsole.desktop name=calculate-terminal.desktop mirror pkg(kde-apps/konsole)>=15

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
