# Calculate format=procmail
#?pkg(www-client/opera)!=#
WebBrowser=opera-browser
#pkg#
#?pkg(www-client/firefox)!=#
WebBrowser=firefox
#pkg#
#?pkg(www-client/chromium)!=#
WebBrowser=chromium-chromium
#pkg#

FileManager=Thunar

#?pkg(mail-client/thunderbird)!=#
MailReader=thunderbird
#pkg#
#?pkg(mail-client/evolution)!=#
MailReader=evolution
#pkg#
#?pkg(mail-client/sylpheed)!=#
MailReader=sylpheed-claws
#pkg#

