# Calculate format=patch path=/usr/share/gnome-shell/theme pkg(gnome-base/gnome-shell)>=3.6
<reg>(/\* Override padding on resident notifications, since
   the notifications box has its own spacing
\*/
)(.screen-shield-notifications-box .summary-notification-stack-scrollview)</reg>
<text>\1
.login-dialog-not-listed-label, .login-dialog-title {
    color: white;
}

.login-dialog {
    border-color: #666666;
    background-color: black;
}

\2</text>
