# Calculate format=kde link=/usr/share/applications/totem.desktop name=calculate-videoplayer.desktop mirror pkg(media-video/totem)>=2.3

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
