# Calculate exists(/usr/share/applications/calculate-writer.desktop)!= link=/usr/share/applications/calculate-writer.desktop name=10000000034.desktop symbolic force
