# Calculate format=kde link=/usr/share/applications/mate-terminal.desktop name=calculate-terminal.desktop mirror pkg(x11-terms/mate-terminal)>=1.8

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
