# Calculate format=kde link=/usr/share/applications/org.kde.ktpcontactlist.desktop name=calculate-im.desktop mirror pkg(kde-apps/ktp-contact-list)>=16.12

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
