# Calculate format=kde link=/usr/share/applications/kde4/kopete.desktop mirror env(client.os_remote_auth)!=&&ur_domain_set==on&&server(jabber.host)!=&&ur_jid!=
#добавим Kopete в автозагрузку если настроен локальный Jabber сервер
