# Calculate exists(/usr/share/applications/calculate-chat.desktop)!= link=/usr/share/applications/calculate-chat.desktop name=10000000032.desktop symbolic force
