# Calculate format=kde link=/usr/share/applications/xchat.desktop name=calculate-chat.desktop mirror pkg(net-irc/xchat)>=2.8

# Update info
#-ini(desktop.chat, xchat)-#

# Hide icon
[Desktop Entry]
Name=Calculate Linux Community
Name[bg]=Calculate Linux Общност
Name[ru]=Сообщество Calculate Linux
Name[uk]=Cпівтовариство Calculate Linux
#?os_locale_language!=ru#
Exec=xchat "--url=irc://irc.freenode.net:6667/#calculate"
#os_locale_language#
#?os_locale_language==ru#
Exec=xchat "--url=irc://irc.freenode.net:6667/#calculate-ru"
#os_locale_language#
NoDisplay=true
!MimeType=del
