# Calculate format=kde link=/usr/share/applications/firefox.desktop name=calculate-browser.desktop mirror pkg(www-client/firefox)>=4.0

# Update info
#-ini(desktop.updating, on)-#
#-ini(desktop.browser, firefox)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=del
