# Calculate format=patch exists(~/.cinnamon/panel-launchers/lockscreen.desktop)!=
<reg>Icon=gnome-lockscreen</reg>
<text>Icon=system-lock-screen-symbolic</text>
