# Calculate format=kde link=/usr/share/applications/pidgin.desktop mirror env(client.os_remote_auth)!=&&ur_domain_set==on&&server(jabber.host)!=&&ur_jid!=
#add Pidgin to autostart if exists local Jabber server
