# Calculate name=system.config os_builder_linux_system!=desktop
HEADER
cds;
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-#;
/boot/vmlinuz;
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#;
/boot/initrd;
#?pkg(media-gfx/splashutils)!=#
#-load(/bootmenu/bootparam.config)-# splash=silent,theme:calculate console=tty1 elevator=deadline;
#pkg#
#?pkg(media-gfx/plymouth-themes-calculate)!=&&pkg(media-gfx/splashutils)==#
#-load(/bootmenu/bootparam.config)-# splash elevator=deadline;
#pkg#
#?pkg(media-gfx/plymouth-themes-calculate)==&&pkg(media-gfx/splashutils)==#
#-load(/bootmenu/bootparam.config)-# verbose elevator=deadline;
#pkg#

cds-docache;
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (RAM);
/boot/vmlinuz;
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#;
/boot/initrd;
#?pkg(media-gfx/splashutils)!=#
#-load(/bootmenu/bootparam.config)-# splash=silent,theme:calculate console=tty1 elevator=deadline docache;
#pkg#
#?pkg(media-gfx/plymouth-themes-calculate)!=&&pkg(media-gfx/splashutils)==#
#-load(/bootmenu/bootparam.config)-# splash elevator=deadline docache;
#pkg#
#?pkg(media-gfx/plymouth-themes-calculate)==&&pkg(media-gfx/splashutils)==#
#-load(/bootmenu/bootparam.config)-# verbose elevator=deadline docache;
#pkg#

#?pkg(media-gfx/splash-themes-calculate)!=#
cds-nofb;
 #-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (No-FB);
/boot/vmlinuz;
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#;
/boot/initrd;
#-load(/bootmenu/bootparam.config)-# verbose splash=off elevator=deadline;
#pkg#

FOOTER
