# Calculate format=kde link=/usr/share/applications/xfrun4.desktop mirror
[Desktop Entry]
#смена иконки
Icon=player_play
Categories=X-XFCE;X-Xfce-Toplevel;
