# Calculate format=kde link=/usr/share/applications/xfce-keyboard-settings.desktop mirror
[Desktop Entry]
#смена иконки
Icon=preferences-desktop-keyboard-shortcuts

