# Calculate format=kde link=/usr/share/applications/claws-mail.desktop name=calculate-mail.desktop mirror pkg(mail-client/claws-mail)>=3.7

# Update info
#-ini(desktop.mail, claws-mail)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=del
