# Calculate format=kde link=/usr/share/applications/kde4/kopete.desktop name=calculate-im.desktop mirror pkg(kde-base/kopete)>=4.6

# Update info
#-ini(desktop.im, kopete)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
