# Calculate format=kde link=/usr/share/applications/nomacs.desktop name=calculate-imageview.desktop mirror pkg(media-gfx/nomacs)>=1.6

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
