# Calculate format=kde link=/usr/share/applications/urxvt-rxvt-unicode.desktop mirror
[Desktop Entry]
Categories=GTK;System;TerminalEmulator;Utility;
