HEADER
Auto;auto;on
Intel (intel) with composite;i915;on
Intel (intel);i915;off
Ati Radeon Open Source (radeon) with composite;radeon;on
Ati Radeon Open Source (radeon);radeon;off
#?os_builder_linux_shortname!=CLS#Ati proprietary (fglrx) with composite;fglrx;on
Ati proprietary (fglrx);fglrx;off#os_builder_linux_shortname#
Nvidia 2D only (nv);nv;off
Nvidia Open Source (nouveau) with composite;nouveau;on
Nvidia Open Source (nouveau);nouveau;off
#?os_builder_linux_shortname!=CLS#Nvidia Proprietary (nvidia) with composite;nvidia;on
Nvidia Proprietary (nvidia);nvidia;off#os_builder_linux_shortname#
Generic Vesa video driver (vesa);vesa;off
FOOTER
