# Calculate format=kde link=/usr/share/applications/quodlibet.desktop name=calculate-audioplayer.desktop mirror pkg(media-sound/quodlibet)>=2.2

# Update info
#-ini(desktop.audioplayer, quodlibet)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=del
