# Calculate format=kde link=/usr/share/applications/kde4/digikam.desktop name=calculate-photomanager.desktop mirror pkg(media-gfx/digikam)>=2.9

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
