# Calculate format=kde link=/usr/share/applications/kde4/gwenview.desktop name=calculate-imageview.desktop mirror pkg(kde-base/gwenview)>=4.9

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
