# Calculate format=kde link=/usr/share/applications/Terminal.desktop name=calculate-terminal.desktop mirror pkg(x11-terms/terminal)>=0.4

# Update info
#-ini(desktop.terminal, terminal)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
