# Calculate format=kde
[Desktop Entry]
Name=Lock Session
Comment=Lock Session
Exec=cinnamon-screensaver-command --lock
Icon=gnome-lockscreen
Terminal=false
Type=Application
StartupNotify=false
