# Calculate format=kde path=/etc/xdg/autostart name=qlipper.desktop mirror link=/usr/share/applications/qlipper.desktop
[Desktop Entry]
X-LXQt-Need-Tray=true
