# Calculate name=10000000007.desktop
[Desktop Entry]
Version=1.0
Type=Application
Name=Lock Screen
Name[ru]=Блокирование сеанса
Comment=
Exec=dm-tool lock
Icon=system-lock-screen
Path=
Terminal=false
StartupNotify=false
