# Calculate exists(/usr/share/applications/calculate-terminal.desktop)!= link=/usr/share/applications/calculate-terminal.desktop name=10000000044.desktop symbolic force
