# Calculate format=kde path=/usr/share/applications

[Desktop Entry]
#?os_audio!=pulseaudio#
NoDisplay=true
#!os_audio#
!NoDisplay=
#os_audio#
Comment[fr]=Régler le niveau du volume
Comment[ru]=Настройка уровня громкости
GenericName[fr]=Contrôle du volume
GenericName[ru]=Громкость
Name[fr]=Contrôle du volume PulseAudio
Name[ru]=Регулятор громкости PulseAudio
