# Calculate format=kde link=/usr/share/applications/xfce4-about.desktop mirror
[Desktop Entry]
#смена иконки
Icon=help-browser
Categories=X-XFCE;X-Xfce-Toplevel;
