# Calculate format=kde link=/usr/share/applications/featherpad.desktop name=calculate-textedit.desktop mirror pkg(app-editors/featherpad)>=0.9

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
