# Calculate format=kde pkg(kde-plasma/plasma-pa)<5.14

[Desktop Entry]
#?pkg(kde-apps/kmix)!=#
!X-Plasma-API=
!X-Plasma-MainScript=
!X-Plasma-NotificationArea=
!X-Plasma-ConfigPlugins=
!X-KDE-PluginInfo-Name=
!X-KDE-PluginInfo-EnabledByDefault=
#!pkg#
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-ConfigPlugins=kcm_pulseaudio
X-KDE-PluginInfo-Name=org.kde.plasma.volume
X-KDE-PluginInfo-EnabledByDefault=true
#pkg#
