# Calculate format=kde link=/usr/share/applications/xchat.desktop mirror os_root_type==livecd
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Calculate Linux Community
Name[ru]=Сообщество Calculate Linux
#change command line
#?os_locale_language!=ru#
Exec=xchat "--url=irc://irc.freenode.net:6667/#calculate"
#os_locale_language#
#?os_locale_language==ru#
Exec=xchat "--url=irc://irc.freenode.net:6667/#calculate-ru"
#os_locale_language#
