# Calculate format=kde link=/usr/share/applications/eog.desktop name=calculate-imageview.desktop mirror pkg(media-gfx/eog)>=2.30

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
