# Calculate exists(/usr/share/applications/calculate-photomanager.desktop)!= link=/usr/share/applications/calculate-photomanager.desktop name=10000000038.desktop symbolic force
