# Calculate format=kde link=/usr/share/applications/gimp.desktop mirror

[Desktop Entry]
Name=Gimp
Name[de]=Gimp
Name[es]=Gimp
Name[fr]=Gimp
Name[it]=Gimp
Name[pl]=Gimp
Name[pt_BR]=Gimp
Name[ru]=Gimp
Name[uk]=Gimp
