# Calculate append=skip merge(sys-apps/calculate-utils)!= pkg(sys-apps/calculate-utils[desktop])!=&&ini(merge-calculate.desktop)==||pkg(sys-apps/calculate-utils[desktop])==&&ini(merge-calculate.desktop)!= merge=gnome-base/gdm,gnome-base/gnome-shell,kde-base/kdm,x11-misc/slim,x11-misc/lightdm,x11-misc/sddm
