# Calculate format=samba name=FTP.desktop env(client.os_remote_auth)!=&&ur_domain_set==on&&server(ftp.host)!=&&pkg(gnome-extra/cinnamon)!= chmod=0755 append=replace
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=FTP
Comment=Browser FTP
Categories=Application;
Exec=nemo /home/#-ur_login-#/FTP
Icon=folder-download
Terminal=false
StartupNotify=false
NoDisplay=true
