# Calculate format=procmail
#?pkg(www-client/opera)!=#
WebBrowser=opera-browser
#pkg#
#?pkg(www-client/firefox)!=#
WebBrowser=firefox
#pkg#
#?pkg(www-client/chromium)!=#
WebBrowser=chromium-browser-chromium
#pkg#

FileManager=Thunar

#?pkg(mail-client/thunderbird)!=#
MailReader=thunderbird
#pkg#
#?pkg(mail-client/evolution)!=#
MailReader=evolution
#pkg#
#?pgk(mail-client/claws-mail)!=#
MailReader=claws-mail
#pkg#

