# Calculate format=kde chmod=0755 link=/usr/share/applications/cl-install-gui-kde.desktop os_root_type==livecd mirror
#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=sudo cl-install-gui

