# Calculate format=kde os_install_arch_machine==i686 path=/usr/lib/libreoffice/share/xdg name=draw.desktop

[Desktop Entry]
Categories=Office
Icon=/usr/share/icons/gnome/256x256/apps/libreoffice-draw.png
