# Calculate format=kde os_install_arch_machine==i686 path=/usr/lib/libreoffice/share/xdg name=impress.desktop

[Desktop Entry]
Icon=/usr/share/icons/gnome/256x256/apps/libreoffice-impress.png
