# Calculate format=kde
[Desktop Entry]
Name=Qt5 Settings
Exec=qt5ct
#?pkg(x11-themes/calculate-icon-theme)>=15-r8#
Icon=qt5logo
Categories=Settings;Qt;
OnlyShowIn=XFCE;MATE;LXQt;
#pkg#
