# Calculate format=kde link=/usr/share/applications/brasero.desktop name=calculate-imageburn.desktop mirror pkg(app-cdr/brasero)>=2.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
