# Calculate format=kde link=/usr/share/applications/xscreensaver-properties.desktop pkg(x11-misc/xscreensaver)!= mirror
[Desktop Entry]
#добавим в меню
Name=Screensaver
Comment=Change screensaver properties
!_Name
!_Comment

