# Calculate format=samba append=replace
#?env(client.os_remote_auth)==||ur_domain_set==off#
[Calculate Linux Install]
row=1
col=0

[GParted]
row=1
col=1

#?os_locale_language!=ru&&?os_locale_language!=bg#
[Installation Guide]
#os_locale_language#
#?os_locale_language==ru#
[Руководство по установке]
#os_locale_language#
#?os_locale_language==bg#
[Ръководство за инсталиране]
#os_locale_language#
row=2
col=0

[Calculate Linux Community]
row=2
col=1

#env#
#?env(client.os_remote_auth)!=&&ur_domain_set==on#
[Home]
row=0
col=0

[Share]
row=0
col=1

[FTP]
row=0
col=2
#env#

