# Calculate exists(/usr/share/applications/calculate-mail.desktop)!= link=/usr/share/applications/calculate-mail.desktop name=10000000031.desktop symbolic force
