# Calculate format=kde link=/usr/share/applications/leafpad.desktop name=calculate-textedit.desktop mirror pkg(app-editors/leafpad)>=0.8

# Update info
#-ini(desktop.textedit, leafpad)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
