# Calculate format=kde link=/usr/share/applications/gedit.desktop name=calculate-textedit.desktop mirror pkg(app-editors/gedit)>=2.30

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
