# Calculate format=kde name=io.github.Hexchat.desktop path=~/.local/share/applications link=/usr/share/applications/io.github.Hexchat.desktop mirror pkg(net-irc/hexchat)>=2.14

[Desktop Entry]
#?in(os_locale_language,es,es_UY)!=#
Exec=hexchat "--url=ircs://irc.calculate.social:6697/#chat-es"
#in#
#?in(os_locale_language,pt,pt_BR)!=#
Exec=hexchat "--url=ircs://irc.calculate.social:6697/#chat-pt"
#in#
#?os_locale_language==fr#
Exec=hexchat "--url=ircs://irc.calculate.social:6697/#chat-fr"
#os_locale_language#
#?os_locale_language==ru#
Exec=hexchat "--url=ircs://irc.calculate.social:6697/#chat-ru"
#os_locale_language#
#?in(os_locale_language,fr,ru,es,es_UY,pt,pt_BR)==#
Exec=hexchat "--url=ircs://irc.calculate.social:6697/#chat"
#in#
