# Calculate format=kde link=/usr/share/applications/Terminal.desktop name=calculate-terminal.desktop mirror pkg(x11-terms/terminal)>=0.4

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
