# Calculate format=kde link=/usr/share/applications/shotwell.desktop name=calculate-photomanager.desktop mirror pkg(media-gfx/shotwell)>=0.13

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
