# Calculate format=kde link=/usr/share/applications/org.gajim.Gajim.desktop name=calculate-im.desktop mirror pkg(net-im/gajim)>=1.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
