# Calculate format=kde link=/usr/share/dbus-1/system-services/org.freedesktop.ModemManager1.service

[D-BUS Service]
Name=org.freedesktop.ModemManager
