# Calculate format=kde os_install_arch_machine==x86_64 path=/usr/lib64/libreoffice/share/xdg name=base.desktop

[Desktop Entry]
Icon=/usr/share/icons/gnome/256x256/apps/libreoffice-base.png
