# Calculate format=kde ur_domain_set==on
[Desktop Entry]
Comment=Resources migrator
Exec=/usr/bin/kres-migrator
GenericName=Resources migrator
Icon=accessories-text-editor
Name=Resources migrator
