# Calculate format=kde link=/usr/share/applications/kde4/kwrite.desktop name=calculate-textedit.desktop mirror pkg(kde-base/kwrite)>=4.9

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
