[Desktop Entry]
Name=Chromium
Comment=Open-source version of Google Chrome web browser
Exec=chromium %U
TryExec=chromium
Icon=chromium-browser
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
Categories=Network;WebBrowser;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=chromium
X-XFCE-CommandsWithParameter=chromium "%s"
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-Commands=chromium
X-XFCE-CommandsWithParameter=chromium "%s"
