# Calculate exists(~/.config/xfce4/panel/launcher-35/10000000035.desktop)!=&&exists(/usr/share/applications/calculate-calc.desktop)!= link=/usr/share/applications/calculate-calc.desktop path=~/.config/xfce4/panel/launcher-35 name=10000000035.desktop symbolic force
