# Calculate exists(~/.config/xfce4/panel/launcher-42/10000000042.desktop)!=&&exists(/usr/share/applications/calculate-dict.desktop)!= link=/usr/share/applications/calculate-dict.desktop path=~/.config/xfce4/panel/launcher-42 name=10000000042.desktop symbolic force
