# Calculate exists(~/.config/xfce4/panel/launcher-37/10000000037.desktop)!=&&exists(/usr/share/applications/calculate-imageedit.desktop)!= link=/usr/share/applications/calculate-imageedit.desktop path=~/.config/xfce4/panel/launcher-37 name=10000000037.desktop symbolic force
