# Calculate exists(~/.config/xfce4/panel/launcher-44/10000000044.desktop)!=&&exists(/usr/share/applications/calculate-terminal.desktop)!= link=/usr/share/applications/calculate-terminal.desktop path=~/.config/xfce4/panel/launcher-44 name=10000000044.desktop symbolic force
