# Calculate exists(~/.config/xfce4/panel/launcher-43/10000000043.desktop)!=&&exists(/usr/share/applications/calculate-textedit.desktop)!= link=/usr/share/applications/calculate-textedit.desktop path=~/.config/xfce4/panel/launcher-43 name=10000000043.desktop symbolic force
