# Calculate exists(~/.config/xfce4/panel/launcher-40/10000000040.desktop)!=&&exists(/usr/share/applications/calculate-videoplayer.desktop)!= link=/usr/share/applications/calculate-videoplayer.desktop path=~/.config/xfce4/panel/launcher-40 name=10000000040.desktop symbolic force
