# Calculate exists(~/.config/xfce4/panel/launcher-34/10000000034.desktop)!=&&exists(/usr/share/applications/calculate-writer.desktop)!= link=/usr/share/applications/calculate-writer.desktop path=~/.config/xfce4/panel/launcher-34 name=10000000034.desktop symbolic force
