# Calculate exists(/usr/share/applications/telegram-desktop.desktop)!= link=/usr/share/applications/telegram-desktop.desktop name=telegramdesktop.desktop mirror force
