# Calculate format=kde link=/usr/share/applications/kde4/kopete.desktop name=calculate-im.desktop mirror pkg(kde-base/kopete)>=4.9

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
