# Calculate format=samba env(client.os_remote_auth)!=&&ur_domain_set==on&&server(ftp.host)!=
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=FTP
Comment=Browser FTP
Categories=Application;
Exec=thunar /home/#-ur_login-#/FTP
#?pkg(x11-themes/elementary-icon-theme)!=#
Icon=folder-download
#pkg#
#?pkg(x11-themes/elementary-icon-theme)==#
Icon=update-manager
#pkg#
Terminal=false
StartupNotify=false
