# Calculate format=kde

[Desktop Entry]
Name=Power off
Comment=Power off
Exec=cinnamon-session-quit --power-off
Icon=system-shutdown
Terminal=false
Type=Application
StartupNotify=false
