# Calculate format=kde link=/usr/share/applications/firefox-bin.desktop name=calculate-browser.desktop mirror pkg(www-client/firefox-bin)>=10.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
