# Calculate format=samba env(client.os_remote_auth)!=&&ur_domain_set==on
[Desktop Entry]
Encoding=UTF-8
Name=Share
Comment=Browser Share
URL[$e]=$HOME/Share
Icon=folder-favorites
Type=Link
