# Calculate format=samba  env(client.os_remote_auth)!=&&ur_domain_set==on&&server(ftp.host)!=

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=FTP
Comment=Browser FTP
#pkg(x11-themes/gnome-icon-theme)!=&&pkg(x11-themes/gnome-icon-theme)<2.30#
Icon=update-manager
#pkg#
#pkg(x11-themes/gnome-icon-theme)>=2.30#
Icon=gnome-fs-ftp
#pkg#
URL=file:///home/#-ur_login-#/FTP
Type=Link
