[Desktop Entry]
Name=Calculate Splash Login
Name[ru]=Calculate Splash Login

X-KDE-PluginInfo-Name=Calculate_Linux
X-KDE-PluginInfo-Author=Mir Calculate
X-KDE-PluginInfo-Email=support@calculate.ru
X-KDE-PluginInfo-License=LGPLv3
