# Calculate name=system.config os_builder_linux_system==desktop&&cl_ver>=2.2.32.1
HEADER
cld
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-#
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-#
#os_builder_linux_subname#
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#
/boot/initrd
#?pkg(media-gfx/plymouth-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# splash;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)!=&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off;
#pkg#

cld-docache
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# (RAM)
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (RAM)
#os_builder_linux_subname#
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#
/boot/initrd
#?pkg(media-gfx/plymouth-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# splash docache;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)!=&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate docache;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off docache;
#pkg#

cld-nox
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# (No-X)
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (No-X)
#os_builder_linux_subname#
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#
/boot/initrd
#?pkg(media-gfx/plymouth-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# splash nox;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)!=&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate nox;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off nox;
#pkg#

cld-builder
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# Builder
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# Builder
#os_builder_linux_subname#
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=#-cl_builder_root_param-##pkg#
/boot/initrd
#?pkg(media-gfx/plymouth-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# splash scratch;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)!=&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate scratch;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==&&pkg(media-gfx/plymouth-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off scratch;
#pkg#
FOOTER
