# Calculate format=kde link=/usr/share/applications/calculate-chat.desktop mirror os_root_type==livecd chmod=0755
#!/usr/bin/env xdg-open

[Desktop Entry]
!NoDisplay=
OnlyShowIn=KDE;
