# Calculate format=kde link=/usr/share/applications/clementine.desktop name=calculate-audioplayer.desktop mirror pkg(media-sound/clementine)>=1.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
