# Calculate format=kde link=/usr/share/applications/org.kde.kwrite.desktop name=calculate-textedit.desktop mirror pkg(kde-apps/kwrite)>=15

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
