# Calculate format=kde link=/usr/share/applications/kde4/konversation.desktop name=calculate-chat.desktop mirror pkg(net-irc/konversation)>=1.3

# Update info
#-ini(desktop.updating, on)-#
#-ini(desktop.chat, konversation)-#

# Hide icon
[Desktop Entry]
Name=Calculate Linux Community
Name[bg]=Calculate Linux Общност
Name[ru]=Сообщество Calculate Linux
Name[uk]=Cпівтовариство Calculate Linux
NoDisplay=true
!MimeType=del
