# Calculate exists(/usr/share/applications/calculate-im.desktop)!= link=/usr/share/applications/calculate-im.desktop name=10000000033.desktop symbolic force
