# Calculate format=kde 

[Desktop Entry]
Name=Calculate

[Wallpaper]
defaultWallpaperTheme=Calculate_Linux
defaultFileSuffix=.jpg
defaultWidth=2560
defaultHeight=1600
