# Calculate format=kde link=/usr/share/applications/calc.desktop name=calculate-calc.desktop mirror pkg(app-office/libreoffice)>=3.3&&pkg(app-office/libreoffice)<3.4

# Update info
#-ini(desktop.calc, libreoffice)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
