# Calculate format=compiz link=/usr/share/applications/Thunar.desktop mirror
[Desktop Entry]
#смена категории
Categories=System;
Icon=system-file-manager
