# Calculate format=kde link=/usr/share/applications/opera-browser.desktop name=calculate-browser.desktop mirror pkg(www-client/opera)>=12.11

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
