# Calculate format=kde path=~/.local/share/applications/kde4 link=/usr/share/applications/kde4/contactthemeeditor.desktop
[Desktop Entry]
NoDisplay=true
