# Calculate format=kde link=/usr/share/applications/kde4/gwenview.desktop name=calculate-imageview.desktop mirror pkg(kde-apps/gwenview)>=4.9&&pkg(kde-apps/gwenview)<15

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
