# Calculate format=kde link=/usr/share/applications/kde4/KMail2.desktop name=calculate-mail.desktop mirror pkg(kde-apps/kmail)=>4.9,16.12

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
#-exists(/usr/share/icons/hicolor/64x64/apps/kmail.png)-#
Icon=/usr/share/icons/hicolor/64x64/apps/kmail.png
#exists#
