# Calculate format=kde link=/usr/share/applications/evolution.desktop name=calculate-mail.desktop mirror pkg(mail-client/evolution)>=2.32

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
