# Calculate exists(/usr/share/applications/calculate-calc.desktop)!= link=/usr/share/applications/calculate-calc.desktop name=10000000035.desktop symbolic force
