# Calculate format=kde link=/usr/share/applications/geeqie.desktop name=calculate-imageview.desktop mirror pkg(media-gfx/geeqie)>=1.0

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
