# Calculate format=kde link=/usr/share/applications/org.kde.kcalc.desktop name=calculate-calculator.desktop mirror pkg(kde-apps/kcalc)>=15

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
