# Calculate format=kde link=/usr/share/applications/xchat.desktop name=calculate-chat.desktop mirror pkg(net-irc/xchat)>=2.8

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=

Name=Calculate Linux Community
Name[bg]=Calculate Linux Общност
Name[ru]=Сообщество Calculate Linux
Name[uk]=Cпівтовариство Calculate Linux
Exec=xchat "--url=irc://irc.freenode.net:6667/#calculate"
