# Calculate format=samba  chmod=0755 append=replace
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Home
Comment=Browser Home
Categories=Application;
#?env(client.os_remote_auth)!=&&ur_domain_set==on#
Exec=nemo /home/#-ur_login-#/Home
#env#
#?env(client.os_remote_auth)==||ur_domain_set==off#
Exec=nemo /home/#-ur_login-#
#env#
Icon=user-home
Terminal=false
StartupNotify=false
