# Calculate format=kde path=~/.config/mate/panel2.d/default/launchers chmod=755

[Desktop Entry]
Version=1.0
#?env(client.os_remote_auth)==||ur_domain_set==off#
Name=Home
Name[ru_RU]=Домашняя папка
URL=file:///home/#-ur_login-#
#!env#
Name=Home
Comment=Open home network folder
Comment[ru_RU]=Открыть сетевой диск с личными файлами
URL=file:///home/#-ur_login-#/Home
#env#
Icon=user-home
Type=Link
