# Calculate format=samba

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Home
Comment=Browser Home
Icon=user-home
#?env(client.os_remote_auth)!=&&ur_domain_set==on#
URL=file:///home/#-ur_login-#/Home
#env#
#?env(client.os_remote_auth)==||ur_domain_set==off#
URL=file:///home/#-ur_login-#
#env#
Type=Link
