# Calculate format=samba env(client.os_remote_auth)!=&&ur_domain_set==on

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Share
Comment=Browser Share
Icon=folder-publicshare
URL=file:///home/#-ur_login-#/Share
Type=Link
