# Calculate format=kde link=/usr/share/applications/leafpad.desktop name=calculate-textedit.desktop mirror pkg(app-editors/leafpad)>=0.8

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
