# Calculate format=kde link=/usr/share/applications/org.nomacs.ImageLounge.desktop name=calculate-imageview.desktop mirror pkg(media-gfx/nomacs)!=

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
