# Calculate path=~/.config/mate/panel2.d/default/launchers chmod=755
#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Home
Name[ru_RU]=Домашняя папка
Comment=Open «/home/guest»
Comment[ru_RU]=Открыть «/home/guest»
Icon=user-home
URL=file:///home/guest
Type=Link
