# Calculate format=kde link=/usr/lib/libreoffice/share/xdg/writer.desktop name=calculate-writer.desktop mirror pkg(app-office/libreoffice-bin)>=3.6.3&&os_install_arch_machine==i686

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=

