# Calculate format=kde link=/usr/share/applications/org.kde.gwenview.desktop name=calculate-imageview.desktop mirror pkg(kde-apps/gwenview)>=15

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
