# Calculate format=samba link=/usr/share/apps/kio_desktop/DesktopLinks/Home.desktop mirror env(client.os_remote_auth)==||ur_domain_set==off
[Desktop Entry]
URL[$e]=$HOME
Icon=user-home
