# Calculate format=patch exists(~/.cinnamon/panel-launchers/ftp.desktop)!=
<reg>Icon=(folder-download|update-manager)</reg>
<text>Icon=folder-download-symbolic</text>
