# Calculate format=patch path=~/.config name=konversationrc exists(~/.config/konversationrc)!=&&grep(~/.config/konversationrc,irc.calculate.social)==
<reg>irc.freenode.net</reg>
<text>irc.calculate.social</text>
<reg>SSLEnabled=false</reg>
<text>SSLEnabled=true</text>
<reg>Port=8001</reg>
<text>Port=6697</text>
<reg>Name=Freenode</reg>
<text>Name=CalculateIRC</text>
<reg>Name=#calculate-ru</reg>
<text>Name=#chat-ru</text>
<reg>Name=#calculate-fr</reg>
<text>Name=#chat-fr</text>
<reg>Name=#calculate</reg>
<text>Name=#chat</text>
<reg>Name=#calculate-talk-ru</reg>
<text>Name=#talk-ru</text>
