# Calculate format=kde link=/usr/share/applications/deadbeef.desktop name=calculate-audioplayer.desktop mirror pkg(media-sound/deadbeef)>=0.5

# Update info
#-ini(desktop.audioplayer, deadbeef)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=del
