# Calculate format=kde link=/usr/share/applications/epiphany.desktop name=calculate-browser.desktop mirror pkg(www-client/epiphany)>=3.18

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
