# Calculate format=kde link=/usr/share/applications/kde4/KMail.desktop name=calculate-mail.desktop mirror pkg(kde-base/kmail)>=4.4&&pkg(kde-base/kmail)<4.6

# Update info
#-ini(desktop.mail, kmail)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
