# Calculate format=patch exists(~/.cinnamon/panel-launchers/ftp.desktop)!=
<reg>Icon=(update-manager|folder-download-symbolic)</reg>
<text>Icon=folder-download</text>
