# Calculate format=patch exists(~/.cinnamon/panel-launchers/homedir.desktop)!=
<reg>Icon=(folder_home|user-home-symbolic)</reg>
<text>Icon=user-home</text>
