# Calculate format=kde link=/usr/share/applications/org.gnome.Terminal.desktop name=calculate-terminal.desktop mirror pkg(x11-terms/gnome-terminal)>=3.20

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
