[Desktop Entry]
Type=Application
Name=Touchpad Tap fix
Exec=/usr/libexec/calculate/fix-touchpad.sh
OnlyShowIn=#?pkg(mate-base/mate-session-manager)!=#MATE;#pkg##?pkg(gnome-extra/cinnamon-session)!=#X-Cinnamon;#pkg#
NoDisplay=true
#?pkg(gnome-extra/cinnamon-session)!=#
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=false
#pkg#
#?pkg(mate-base/mate-session-manager)!=#
X-MATE-Autostart-Notify=false
X-MATE-AutoRestart=false
#pkg#
