# Calculate format=kde link=/usr/share/applications/org.gnome.Totem.desktop name=calculate-videoplayer.desktop mirror pkg(media-video/totem)>=3.18

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
