# Calculate format=kde link=/usr/share/applications/smplayer.desktop name=calculate-videoplayer.desktop mirror pkg(media-video/smplayer)>=0.6

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
Icon=smplayer
!Icon[bg]=
!Icon[cs]=
!Icon[da]=
!Icon[de]=
!Icon[el]=
!Icon[en_GB]=
!Icon[es]=
!Icon[eu]=
!Icon[fa]=
!Icon[fr]=
!Icon[gl]=
!Icon[hr]=
!Icon[id]=
!Icon[it]=
!Icon[ja]=
!Icon[km]=
!Icon[ko]=
!Icon[lt]=
!Icon[ms_MY]=
!Icon[nl]=
!Icon[nn_NO]=
!Icon[nb_NO]=
!Icon[pl]=
!Icon[pt_BR]=
!Icon[pt]=
!Icon[ru]=
!Icon[sk]=
!Icon[sq_AL]=
!Icon[sr]=
!Icon[sv]=
!Icon[th]=
!Icon[tr]=
!Icon[uk]=
!Icon[zh_CN]=
!Icon[zh_TW]=
