# Calculate format=kde link=/usr/share/applications/evolution.desktop name=calculate-mail.desktop mirror pkg(mail-client/evolution)>=2.30

# Update info
#-ini(desktop.updating, on)-#
#-ini(desktop.mail, evolution)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=del
