# Calculate exists(/usr/share/applications/calculate-textedit.desktop)!= link=/usr/share/applications/calculate-textedit.desktop name=10000000043.desktop symbolic force
