# Calculate exists(/usr/share/applications/calculate-imageview.desktop)!= link=/usr/share/applications/calculate-imageview.desktop name=10000000038.desktop symbolic force
