# Calculate format=kde link=/usr/share/applications/kde4/amarok.desktop name=calculate-audioplayer.desktop mirror pkg(media-sound/amarok)>=2.3

# Update info
#-ini(desktop.audioplayer, amarok)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
