# Calculate exists(/usr/share/applications/calculate-dict.desktop)!= link=/usr/share/applications/calculate-dict.desktop name=10000000042.desktop symbolic force
