# Calculate format=kde link=/usr/share/applications/stardict.desktop name=calculate-dict.desktop mirror pkg(app-text/stardict)>=3.0

# Update info
#-ini(desktop.dict, stardict)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=del
