# Calculate comment=// ini(container.type)==desktop
/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

// Disable reboot, shudown, hybernate, suspend for user session
//

polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.consolekit.system.") == 0 ) {
             return polkit.Result.NO;
   }
});
