# Calculate comment=// ini(container.type)!=desktop&&hr_laptop!=
// Suspend, hybernate for laptop
//

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.consolekit.system.suspend-multiple-users" ||
        action.id == "org.freedesktop.consolekit.system.hibernate-multiple-users" ||
        action.id == "org.freedesktop.consolekit.system.hybridsleep-multiple-users") {
             return polkit.Result.YES;
   }
});
