# Calculate format=samba env(client.os_remote_auth)!=&&ur_domain_set==on&&server(ftp.host)!=

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=FTP
Comment=Browser FTP
Icon=gnome-fs-ftp
URL=file:///home/#-ur_login-#/FTP
Type=Link
