# Calculate exists(/usr/share/applications/calculate-calculator.desktop)!= link=/usr/share/applications/calculate-calculator.desktop name=10000000036.desktop symbolic force
