# Calculate format=kde link=/usr/share/applications/kde4/konversation.desktop name=calculate-chat.desktop mirror pkg(net-irc/konversation)>=1.4

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
