# Calculate format=kde path=/usr/share/applications pkg(xfce-base/xfce4-session)!=

[Desktop Entry]
!OnlyShowIn=
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
