# Calculate format=kde path=/etc/xdg/autostart

[Desktop Entry]
#?pkg(gnome-extra/gnome-screensaver)>=3.4#
AutostartCondition=GNOME3 unless-session gnome
#pkg#
#?pkg(gnome-extra/gnome-screensaver)<3#
!OnlyShowIn=
#pkg#
