# Calculate format=kde path=/usr/share/applications 

[Desktop Entry]
!OnlyShowIn=
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;GNOME;GTK;Utility;
