# Calculate append=replace path=/etc/polkit-1/rules.d os_linux_shortname==CMC
/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

// Restart in CMC by wheel group rules for polkit
//

polkit.addRule(function(action, subject) {
    if ((action.id.indexOf("org.freedesktop.consolekit.system.stop") == 0 ||
         action.id.indexOf("org.freedesktop.consolekit.system.restart") == 0 ) &&
        subject.isInGroup("wheel")) {
             return polkit.Result.YES;
   }
});
