# Calculate format=kde
[Desktop Entry]
Exec=/bin/bash -c "sleep 2;nm-applet"
#?os_install_net_conf==networkmanager#
X-GNOME-Autostart-enabled=true
#os_install_net_conf#
#?os_install_net_conf!=networkmanager#
X-GNOME-Autostart-enabled=false
#os_install_net_conf#
