# Calculate format=kde link=/usr/share/applications/gnome-calculator.desktop name=calculate-calculator.desktop mirror pkg(gnome-extra/gnome-calculator)>=3.18

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
