# Calculate format=kde link=/usr/share/applications/eog.desktop name=calculate-imageview.desktop mirror pkg(media-gfx/eog)>=3.4

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
