# Calculate format=kde link=/usr/share/applications/gcalctool.desktop name=calculate-calculator.desktop mirror pkg(gnome-extra/gcalctool)>=5.32

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
