# Calculate format=kde link=/usr/share/applications/libreoffice-calc.desktop name=calculate-calc.desktop mirror pkg(app-office/libreoffice-bin)>=3.3

# Update info
#-ini(desktop.calc, libreoffice-bin)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
