# Calculate format=kde link=/usr/share/applications/gparted.desktop os_root_type==livecd mirror chmod=0755
#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=sudo -E /usr/sbin/gparted
#отключим запрос пароля
X-KDE-SubstituteUID=false
