# Calculate comment=// os_install_root_type==livecd path=/etc/polkit-1/rules.d
// Run gparted on livecd without authorization
//

polkit.addRule(function(action, subject) {
    if (action.id == "org.gentoo.pkexec.gparted" && subject.active) {
             return polkit.Result.YES;
   }
    if (action.id == "org.gnome.gparted" && subject.active) {
             return polkit.Result.YES;
   }
});
