# Calculate format=kde link=/usr/share/applications/calculate-im.desktop mirror env(client.os_remote_auth)!=&&ur_domain_set==on&&server(jabber.host)!=&&ur_jid!=
# добавим мессенджер в автозагрузку если настроен локальный Jabber сервер
