# Calculate append=replace
#?pkg(sys-kernel/dracut)!=#
init=/linuxrc looptype=squashfs unionfs doload=squashfs,isofs,unionfs rd.live.squashimg=#-cl_builder_current_squash-# nodevfs udev quiet noresume scandelay=3 doscsi splash
#?pkg(sys-kernel/dracut)==#
init=/linuxrc looptype=squashfs unionfs doload=squashfs,isofs,unionfs loop=/#-cl_builder_current_squash-# nodevfs cdroot console=tty1 udev quiet noresume scandelay=3 doscsi
#pkg#
