# Calculate append=replace
#?pkg(sys-kernel/dracut)!=#init=/linuxrc rd.live.squashimg=#-cl_builder_current_squash-# nodevfs udev quiet noresume doscsi splash#pkg#
#?pkg(sys-kernel/dracut)==#init=/linuxrc looptype=squashfs unionfs doload=squashfs,isofs,unionfs loop=/#-cl_builder_current_squash-# nodevfs cdroot console=tty1 udev quiet noresume scandelay=3 doscsi#pkg#
