# Calculate name=system.config os_builder_linux_system==desktop
HEADER
cld
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-#
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-#
#os_builder_linux_subname#
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cld-themes)>=12.0_alpha1||pkg(media-gfx/cldx-themes)>=12.0_alpha1||pkg(media-gfx/cldg-themes)>=12.0_alpha1||pkg(media-gfx/cmc-themes)>=12.0_alpha1||pkg(media-gfx/cls-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate;
#pkg#
#?pkg(media-gfx/cld-themes)!=&&pkg(media-gfx/cld-themes)<12.0_alpha1||pkg(media-gfx/cldx-themes)!=&&pkg(media-gfx/cldx-themes)<12.0_alpha1||pkg(media-gfx/cldg-themes)!=&&pkg(media-gfx/cldg-themes)<12.0_alpha1||pkg(media-gfx/cmc-themes)!=&&pkg(media-gfx/cmc-themes)<12.0_alpha1||pkg(media-gfx/cls-themes)!=&&pkg(media-gfx/cls-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1;
#pkg#
#?pkg(media-gfx/cld-themes)==&&pkg(media-gfx/cldx-themes)==&&pkg(media-gfx/cldg-themes)==&&pkg(media-gfx/cmc-themes)==&&pkg(media-gfx/cls-themes)==&&pkg(media-gfx/splash-themes-calculate)==##
#-load(/bootmenu/bootparam.config)-# splash=off;
#pkg#

cld-docache
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# (RAM)
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (RAM)
#os_builder_linux_subname#
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cld-themes)>=12.0_alpha1||pkg(media-gfx/cldx-themes)>=12.0_alpha1||pkg(media-gfx/cldg-themes)>=12.0_alpha1||pkg(media-gfx/cmc-themes)>=12.0_alpha1||pkg(media-gfx/cls-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate docache;
#pkg#
#?pkg(media-gfx/cld-themes)!=&&pkg(media-gfx/cld-themes)<12.0_alpha1||pkg(media-gfx/cldx-themes)!=&&pkg(media-gfx/cldx-themes)<12.0_alpha1||pkg(media-gfx/cldg-themes)!=&&pkg(media-gfx/cldg-themes)<12.0_alpha1||pkg(media-gfx/cmc-themes)!=&&pkg(media-gfx/cmc-themes)<12.0_alpha1||pkg(media-gfx/cls-themes)!=&&pkg(media-gfx/cls-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1 docache;
#pkg#
#?pkg(media-gfx/cld-themes)==&&pkg(media-gfx/cldx-themes)==&&pkg(media-gfx/cldg-themes)==&&pkg(media-gfx/cmc-themes)==&&pkg(media-gfx/cls-themes)==&&pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off docache;
#pkg#

cld-nox
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# (No-X)
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (No-X)
#os_builder_linux_subname#
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cld-themes)>=12.0_alpha1||pkg(media-gfx/cldx-themes)>=12.0_alpha1||pkg(media-gfx/cldg-themes)>=12.0_alpha1||pkg(media-gfx/cmc-themes)>=12.0_alpha1||pkg(media-gfx/cls-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate nox;
#pkg#
#?pkg(media-gfx/cld-themes)!=&&pkg(media-gfx/cld-themes)<12.0_alpha1||pkg(media-gfx/cldx-themes)!=&&pkg(media-gfx/cldx-themes)<12.0_alpha1||pkg(media-gfx/cldg-themes)!=&&pkg(media-gfx/cldg-themes)<12.0_alpha1||pkg(media-gfx/cmc-themes)!=&&pkg(media-gfx/cmc-themes)<12.0_alpha1||pkg(media-gfx/cls-themes)!=&&pkg(media-gfx/cls-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1 nox;
#pkg#
#?pkg(media-gfx/cld-themes)==&&pkg(media-gfx/cldx-themes)==&&pkg(media-gfx/cldg-themes)==&&pkg(media-gfx/cmc-themes)==&&pkg(media-gfx/cls-themes)==&&pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off nox;
#pkg#

cld-builder
#?os_builder_linux_subname!=#
#-os_builder_linux_name-# #-os_builder_linux_ver-# #-os_builder_linux_subname-# Live#-cl_builder_cdname-# Builder
#os_builder_linux_subname#
#?os_builder_linux_subname==#
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# Builder
#os_builder_linux_subname#
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cld-themes)>=12.0_alpha1||pkg(media-gfx/cldx-themes)>=12.0_alpha1||pkg(media-gfx/cldg-themes)>=12.0_alpha1||pkg(media-gfx/cmc-themes)>=12.0_alpha1||pkg(media-gfx/cls-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate scratch;
#pkg#
#?pkg(media-gfx/cld-themes)!=&&pkg(media-gfx/cld-themes)<12.0_alpha1||pkg(media-gfx/cldx-themes)!=&&pkg(media-gfx/cldx-themes)<12.0_alpha1||pkg(media-gfx/cldg-themes)!=&&pkg(media-gfx/cldg-themes)<12.0_alpha1||pkg(media-gfx/cmc-themes)!=&&pkg(media-gfx/cmc-themes)<12.0_alpha1||pkg(media-gfx/cls-themes)!=&&pkg(media-gfx/cls-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1 scratch;
#pkg#
#?pkg(media-gfx/cld-themes)==&&pkg(media-gfx/cldx-themes)==&&pkg(media-gfx/cldg-themes)==&&pkg(media-gfx/cmc-themes)==&&pkg(media-gfx/cls-themes)==&&pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off scratch;
#pkg#
FOOTER
