HEADER
American English;American English;en_US;en_US;Canada/Pacific
Brazilian Portuguese;Português do Brasil;pt_BR;pt_BR;America/Sao_Paulo
Bulgarian;Български;bg_BG;bg_BG;Europe/Sofia
Deutsch;Deutsch;de_DE;de_DE;Europe/Amsterdam
Francais;Français;fr_FR;fr_FR;Europe/Brussels
Italian;Italiano;it_IT;it_IT;Europe/Amsterdam
Polish;Polski;pl_PL;pl_PL;Europe/Belgrade
Portuguese;Português;pt_PT;pt_PT;Europe/Lisbon
Russian;Русский;ru_RU;ru_RU;Europe/Moscow
Romanian;Română;ro_RO;ro_RO;Europe/Istanbul
Espanol;Español;es_ES;es_ES;Europe/Brussels
Ukrainian;Українська;uk_UA;uk_UA;Europe/Kiev
FOOTER
