# Calculate name=system.config os_builder_linux_system!=desktop
HEADER
cds
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-#
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cds-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate elevator=deadline;
#pkg#
#?pkg(media-gfx/cds-themes)!=&&pkg(media-gfx/cds-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1 elevator=deadline;
#pkg#
#?pkg(media-gfx/cds-themes)==&&pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline;
#pkg#

cds-docache
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (RAM)
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cds-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate elevator=deadline docache;
#pkg#
#?pkg(media-gfx/cds-themes)!=&&pkg(media-gfx/cds-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1 elevator=deadline docache;
#pkg#
#?pkg(media-gfx/cds-themes)==&&pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline docache;
#pkg#

#?pkg(media-gfx/cds-themes)!=&&pkg(media-gfx/splash-themes-calculate)!=#
cds-nofb
 #-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (No-FB)
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline docache;
#pkg#

cds-builder
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# Builder
/boot/vmlinuz
root=/dev/ram0
/boot/initrd
#?pkg(media-gfx/cds-themes)>=12.0_alpha1||pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate elevator=deadline scratch;
#pkg#
#?pkg(media-gfx/cds-themes)!=&&pkg(media-gfx/cds-themes)<12.0_alpha1#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:tty1 elevator=deadline scratch;
#pkg#
#?pkg(media-gfx/cds-themes)==&&pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline scratch;
#pkg#
FOOTER
