# Calculate name=system.config os_builder_linux_system!=desktop
HEADER
cds
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-#
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=live:LABEL=CDROM#pkg#
/boot/initrd
#?pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate elevator=deadline;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline;
#pkg#

cds-docache
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (RAM)
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=live:LABEL=CDROM#pkg#
/boot/initrd
#?pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate elevator=deadline docache;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline docache;
#pkg#

#?pkg(media-gfx/splash-themes-calculate)!=#
cds-nofb
 #-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# (No-FB)
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=live:LABEL=CDROM#pkg#
/boot/initrd
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline docache;
#pkg#

cds-builder
#-os_builder_linux_name-# #-os_builder_linux_ver-# Live#-cl_builder_cdname-# Builder
/boot/vmlinuz
#?pkg(sys-kernel/dracut)==#root=/dev/ram0#pkg##?pkg(sys-kernel/dracut)!=#root=live:LABEL=CDROM#pkg#
/boot/initrd
#?pkg(media-gfx/splash-themes-calculate)!=#
#-load(/bootmenu/bootparam.config)-# video=uvesafb:ywrap,1024x768-32@60,mtrr:3,splash=silent,theme:calculate elevator=deadline scratch;
#pkg#
#?pkg(media-gfx/splash-themes-calculate)==#
#-load(/bootmenu/bootparam.config)-# splash=off elevator=deadline scratch;
#pkg#
FOOTER
