# Calculate format=kde link=/usr/share/applications/xfce4-terminal.desktop name=calculate-terminal.desktop mirror pkg(x11-terms/xfce4-terminal)>=0.6

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
