# Calculate path=~/.kde4/share/apps/kopete
<!DOCTYPE kpartgui>
<kpartgui version="16" name="kopeteemailwindow" >
 <ActionProperties>
  <Action shortcut="Ctrl+Return" name="chat_send" />
  <Action shortcut="Esc" name="file_quit" />
 </ActionProperties>
</kpartgui>
