# Calculate format=kde link=/usr/share/applications/galculator.desktop name=calculate-calculator.desktop mirror pkg(sci-calculators/galculator)>=1.3

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
!Type=
