# Calculate format=kde link=/usr/share/applications/xfce4-mixer.desktop mirror
[Desktop Entry]
#смена иконки
Icon=audio-card
Categories=X-XFCE;X-Xfce-Toplevel;
