# Calculate format=kde path=/usr/share/applications
[Desktop Entry]
NotShowIn=KDE
# original
#Categories=System;Settings;HardwareSettings;Printing;GTK;
# add to xfce settings
Categories=System;Settings;HardwareSettings;Printing;GTK;X-XFCE-HardwareSettings;X-XFCE-SettingsDialog;
