# Calculate exists(/usr/share/applications/calculate-audioplayer.desktop)!= link=/usr/share/applications/calculate-audioplayer.desktop name=10000000039.desktop symbolic force
