# Calculate format=kde link=/usr/share/applications/opera-browser.desktop name=calculate-browser.desktop mirror pkg(www-client/opera)>=11.50

# Update info
#-ini(desktop.browser, opera)-#

# Hide icon
[Desktop Entry]
NoDisplay=true
