# Calculate format=kde link=/usr/share/applications/org.kde.kmail2.desktop name=calculate-mail.desktop mirror pkg(kde-apps/kmail)>=17.08

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
