# Calculate format=kde link=/usr/share/applications/org.kde.kmail.desktop name=calculate-mail.desktop mirror pkg(kde-apps/kmail)=>16.12,17.08

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
