# Calculate format=kde link=/usr/share/applications/claws-mail.desktop name=calculate-mail.desktop mirror pkg(mail-client/claws-mail)>=3.7

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
