# Calculate format=kde link=/usr/share/applications/mozilla-firefox-3.5.desktop mirror name=mozilla-firefox.desktop
[Desktop Entry]
Name=Internet Browser
Icon=applications-internet
StartupNotify=false
