# Calculate format=kde path=~/.local/share/applications/kde4 link=/usr/share/applications/kde4/headerthemeeditor.desktop
[Desktop Entry]
NoDisplay=true
