# Calculate format=kde
[Desktop Entry]
Comment=Resources migrator
Exec=/usr/bin/kres-migrator
GenericName=Resources migrator
Icon=accessories-text-editor
Name=Resources migrator
