# Calculate format=kde link=/usr/share/applications/smplayer.desktop name=calculate-videoplayer.desktop mirror pkg(media-video/smplayer)>=0.6

# Hide icon
[Desktop Entry]
NoDisplay=true
!MimeType=
#-exists(/usr/share/icons/hicolor/64x64/apps/smplayer.png)-#
Icon=/usr/share/icons/hicolor/64x64/apps/smplayer.png
#exists#
